/*登陆界面login输入框*/
.account-input .el-input__inner{
padding: 0 35px;
}
.checkpass-input .el-input__inner{
padding: 0 35px;
}
.login-container .el-form-item.is-success .el-input__inner, .el-form-item.is-success .el-input__inner:focus, .el-form-item.is-success .el-textarea__inner, .el-form-item.is-success .el-textarea__inner:focus {
    
    border-color: #658aac;
}
.login-container .el-form-item.is-success .el-input__validateIcon {
    background: #658aac;
    color: #658aac;
}

/*Super;Ord 面包屑字体*/
.breadcrumb-inner .el-breadcrumb__inner{
    cursor: pointer;
    color: #658aac;
}
.breadcrumb-inner .el-breadcrumb__inner:hover{
    cursor: pointer;
    color: #658aac;
}
.breadcrumb-inner .el-breadcrumb__item:last-child .el-breadcrumb__inner{
    cursor: pointer;
    color: #658aac;
    font-weight: 1000;
}
.breadcrumb-inner .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover{
    color: #658aac;
    font-weight: 1000;
}
.breadcrumb-inner .el-breadcrumb__separator{
    font-family: "宋体";
    color: #658aac;
}

/*table 分页器*/
.pagebtn .el-pagination__total{
    color:white;
}
.pagebtn .el-pagination__jump{
    color:white;
}

/*ord 新建签到的样式修改*/
.sign_op .el-switch__label{
    color: white;
  }
.sign_op .el-switch__label.is-active{
    color:white;
}

/*ord 发布新签到中百度地图的修改
.gps_dia .allmap {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    position: absolute;
    font-family:"微软雅黑";
    z-index: 1000000;
}

*/
.BMap_cpyCtrl {
    display: none;
}
.anchorBL {
    display: none;
}
.gps_dia .footer{
    bottom: 20px;
    position: absolute;
}
/*
.newsign .gps_dia{
    height:800px !important;
    
}
*/
/* svg {
    width: 100% !important;
    height: 100% !important;
} */
.gap_container .el-switch__label{
    color: white;
}
.gap_container .el-switch__label.is-active{
    color:white;
}

/*全部tag样式控制*/
.el-tag + .el-tag {
    margin-left: 10px;
}